.container {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    margin-bottom: 64px;
  }
}
